// Here you can add other styles
.btn.btn-icon-circle {
  border-radius: 100%;
  height: 35px;
  padding: 0px;
  width: 35px;
  &.btn-sm {
    height: 24px;
    width: 24px;
  }
}

$paginated-table-panel-width: 480px;
body {
  .component-paginated-table {
    transition: margin-right 0.25s;
    -moz-transition: margin-right 0.25s;
    -webkit-transition: margin-right 0.25s;
    .card-table {
      overflow-x: scroll;
    }
    .paginated-table-toolbar {
      display: flex;
      margin-bottom: $card-spacer-x;
      > .search-bar {
        flex: 1;
        margin-right: $card-spacer-x;
      }
      > .order-bar {
        flex: 1;
        margin-right: $card-spacer-x;
      }
      > .page-size-bar {
        max-width: 180px;
        margin-right: $card-spacer-x;
      }
      > .pagination {
        margin-bottom: 0px;
      }
    }
    > .overlay {
      position: fixed;
      z-index: 1000;
      right: 0px;
      top: $navbar-height;
      bottom: 0px;
      width: 0px;
      transition: width 0.25s;
      -moz-transition: width 0.25s;
      -webkit-transition: width 0.25s;
      > .panel {
        display: flex;
        flex-direction: column;
        position: absolute;
        overflow: scroll;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: #ffffff;
        border-left: $card-border-width solid $card-border-color;
        > .panel-header {
          display: flex;
          align-items: center;
          height: 46px;
          padding: 0px $breadcrumb-padding-x / 2;
          border-bottom: $card-border-width solid $card-border-color;
        }
        > .panel-body {
          flex: 1;
          display: flex;
        }
      }
    }
  }
}
body.component-paginated-table-shown {
  .component-paginated-table {
    margin-right: $paginated-table-panel-width;
    > .overlay {
      width: $paginated-table-panel-width;
    }
  }
}

body {
  .component-form {
    position: relative;
    flex: 1;
    display: flex;
    > form {
      flex: 1;
      display: flex;
      flex-direction: column;
      > .card-block {
        flex: 1;
        overflow: scroll;
      }
    }
    > .processing-overlay {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: rgba(#000000, 0.35);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
